* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background-color: rgb(255, 255, 255);
    border: 3px solid #000000;
    
}


.start-button {
    background:radial-gradient(circle, rgb(97, 210, 32), white, rgb(59, 215, 98), rgb(15, 87, 13));
    border-radius: 8px;
    color: #13293d;
    cursor: pointer;
    font-size: 2em;
    letter-spacing: 0.21px;
    line-height: 16px;
    max-width: 255px;
    padding: 20px 52px;
    text-align: center;
    transition-duration: 0.15s;
    transition-property: background-color;
    transition-timing-function: linear;
    margin-top: 0.6em;
}

#button {
display: flex;
justify-content: center;
}

#high-score {
    color: rgb(12, 221, 113);
    position: relative;
    left: 10px;
}

#high-score-container {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

#main {
    position: fixed;
    left: 50%;
}


#time {
    position: fixed;
    left: 85%;
    top: 1%;
}

#large-font {
    display: flex;
    justify-content: center;
}

#center {
    position: relative;
    text-align: center;
}

#questions {
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    border: 4px dotted black;
}

#answers {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    border: 4px dotted black;
}

#hsFont {
    font-family: fantasy;
    font-size: 100px;
    text-align: center;
    padding-bottom:20px;
    background:radial-gradient(circle, rgb(13, 255, 0), white) ;
}

#initials {
    display: block;
    width: 170px;
    text-align: center;
    margin:10px auto;
}

#submitScore {
    position: relative;

}

#high_score_SUBMISSION {
    display: block;
    text-align: center;
}

p {
    font-size: 18px;
    margin-bottom: 20px; /* Add more space below the paragraph */
}
#time {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}